@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Fix DSFR header quick access items being cropped on mobile */
[id^="fr-header-quick-access-item-"][id$="-mobile"] {
  max-width: none !important;
}
