.list-item {
  border-top: 1px solid var(--border-default-grey);
}

.selector-option:hover,
.selector-option.focused
 {
  background: var(--background-alt-blue-france-hover);
}

.fr-bg-disabled-grey {
  color: var(--text-disabled-grey);
}
